.sass-cache
.tmp
bower_components
dist
node_modules
src/css/*.css
src/css/*.css.map
src/css/icons/demo-files
src/css/icons/demo.html
src/css/icons/Read Me.txt
src/css/icons/selection.json
src/css/icons.zip