<div class="container">
  <div ng-class="{'no-keyword': dict.empty, 'has-keyword': !dict.empty}">
    <form ng-submit="dict.go()">
      <div class="input-group" ng-if="!dict.empty">
        <div class="input-group-addon icon-search"></div>
        <input class="form-control" type="text" ng-model="dict.keyword" placeholder="Find...">
      </div>
      <input ng-if="dict.empty" class="keyword" type="text" ng-model="dict.keyword" placeholder="Find...">
      <input type="submit" value="Go" class="hidden">
    </form>
  </div>

  <div class="panel panel-default" ng-if="!dict.empty">
    <div class="panel-body" ng-if="dict.result.keyword">
      <b>{{ dict.result.keyword }}</b>
      <div>
        <span ng-if="dict.result.symbolBritish">{{ dict.result.symbolBritish }}</span>
        <span class="label label-info pointer" ng-if="dict.result.audioBritish" ng-click="dict.play(dict.result.audioBritish)">
          <span class="icon-sound"></span>
        </span>
        <span ng-if="dict.result.symbolAmerican" style="margin-left: 5px;">{{ dict.result.symbolAmerican }}</span>
        <span class="label label-info pointer" ng-if="dict.result.audioAmerican" ng-click="dict.play(dict.result.audioAmerican)">
          <span class="icon-sound"></span>
        </span>
      </div>
      <!-- rank -->
      <div ng-if="dict.result.frequencies.length">
        * rank: 
        <span uib-popover="Ranked top {{ frequency.rank / frequency.total * 100 | number : 1 }}% in 20,000 words" 
          popover-trigger="mouseenter" 
          ng-repeat="frequency in dict.result.frequencies" 
          class="label label-success pointer" 
          style="margin-right: 5px;">
          [{{ frequency.partOfSpeech }}] {{ frequency.rank / frequency.total * 100 | number : 1 }}%
        </span>
      </div>
      <!-- end rank -->
    </div>
    <div class="panel-body" ng-if="!dict.result.keyword">
      Searching...
    </div>
  </div>

  <div class="panel panel-default" ng-if="!dict.empty" ng-repeat="group in dict.result.explanationGroups">
    <div class="panel-heading" ng-if="group.groupName != 'default'">
      <h3 class="panel-title">
        {{ group.groupName }}
      </h3>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="explanation in group.explanations">
          <h5>
            <span class="label label-default">{{ explanation.partOfSpeech }}</span>
            {{ explanation.explanation }}
            <small>
              <span uib-popover="Show Chinese" 
                popover-trigger="mouseenter" 
                class="label label-info pointer" 
                ng-class="{ active: explanation.showChinese }" 
                ng-click="explanation.showChinese = !explanation.showChinese">Ch</span>
            </small>
          </h5>
          <p ng-show="explanation.showChinese">{{ explanation.explanationChinese }}</p>
          <ul>
            <li ng-repeat="example in explanation.examples">
              <h5>{{ example.english }}
                <small>
                  <span class="label label-info pointer" ng-click="dict.play(example.audio)" style="margin-right: 5px;">
                    <span class="icon-sound"></span>
                  </span>
                  <span uib-popover="Show Chinese" 
                    popover-trigger="mouseenter"
                    class="label label-info pointer" 
                    ng-class="{ active: example.showChinese }" 
                    ng-click="example.showChinese = !example.showChinese">Ch</span>
                </small>
              </h5>
              <p ng-show="example.showChinese">{{ example.chinese }}</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div ng-if="!dict.result">
    
  </div>

  <div class="notice text-muted small">
    <p>All results are retrieved from <a href="http://www.iciba.com/{{ dict.keyword }}" target="_blank">iciba.com</a></p>
    <p>This is just a tool which is able to hide Chinese explanations :)</p>
  </div>
</div>