<!-- without popover -->
<div class="node" id="node-{{ child.node.nodeId }}">
  <div class="node-box pull-left" 
    ng-if="child.node.nodeType == 'node'" 
    ng-click="knowledge.showContent(child)" 
    popover-placement="bottom" 
    popover-trigger="mouseenter" 
    uib-popover-template="knowledge.popover" 
    popover-popup-delay="10"
    ng-class="{'dirty': child.dirty, 'has-small': child.small, 'edit-mode': knowledge.mode == 'edit', editing: knowledge.mode == 'edit' && child.node.nodeId == knowledge.currentEditing.node.nodeId, 'construction': child.status == 'construction', 'priority-high': child.priority == 1, 'priority-medium': child.priority == 2, 'priority-low': child.priority == 3}">
    <div>
      <!-- read mark -->
      <span ng-if="$storage.readList[child.node.nodeId] === true || $storage.readList[child.node.nodeId] === 'read'" class="icon icon-yes"></span>
      <span ng-if="$storage.readList[child.node.nodeId] === 'read-later'" class="icon icon-clock"></span>
      <span ng-if="$storage.readList[child.node.nodeId] === 'reread'" class="icon icon-again"></span>
      <!-- end read mark -->

      <span ng-if="child.content && child.content !== ''" class="icon icon-text"></span>
      <input ng-if="knowledge.mode == 'edit'" type="text" dnd-nodrag pu-elastic-input class="name" ng-model="child.name" ng-change="knowledge.change(child)" placeholder="Node Name" required maxlength="30">
      <span ng-if="knowledge.mode == 'normal'">
        <a ng-if="child.content && child.content !== ''" 
          ui-sref="knowledge-node({nodeId: child.node.nodeId})" target="_blank">{{ child.name }}</a>
        <span ng-if="!child.content || child.content === ''">{{ child.name }}</span>
      </span>
    </div>
    <div>
      <input ng-if="knowledge.mode == 'edit'" type="text" dnd-nodrag pu-elastic-input class="small" ng-model="child.small" ng-change="knowledge.change(child)" placeholder="Description" maxlength="60">
      <span ng-if="knowledge.mode == 'normal' && child.small" class="small">{{ child.small }}</span>
    </div>
  </div>
  <div ng-click="knowledge.showAfter(child.node.nodeId)" 
    class="pull-right show-after node-box" 
    ng-class="{'has-small': child.small}" 
    ng-if="child.node.hasChild && child.children.length == 0">
    <a ui-sref="knowledge({nodeId: child.node.nodeId})"><span class="icon-play"></span></a>
  </div>
  <div class="node node-box node-spliter" 
    ng-class="{'spliter-hide': knowledge.mode != 'edit'}" 
    ng-if="child.node.nodeType == 'spliter'" 
    ng-click="knowledge.showContent(child)" 
    ng-class="{'dirty': child.dirty, 'has-small': child.small, 'edit-mode': knowledge.mode == 'edit', editing: knowledge.mode == 'edit' && child.node.nodeId == knowledge.currentEditing.node.nodeId}">
  </div>
</div>
<!-- end without popover -->
<ul ng-if="child.children && knowledge.mode === 'edit'"
  dnd-list="child.children"
  ng-init="list = child.children"
  dnd-inserted="knowledge.drop(event, child, list, index)"
  ng-class="{'no-child': list.length == 0}"
  class="children">
  <li
    ng-repeat="child in list"
    dnd-draggable="child"
    dnd-effect-allowed="move"
    dnd-moved="list.splice($index, 1); knowledge.move(child, list)"
    dnd-dragstart="knowledge.onDragstart(list, event)"
    ng-include="'templates/knowledge/map-node.tpl.html'" 
    context-menu="knowledge.contextMenu"
    class="children-item"></li>
  <li class="children-item dndPlaceholder">
    <div class="node">
      <span class="icon-arrow-left"></span> Drop here
    </div>
  </li>
</ul>
<ul ng-if="child.children && knowledge.mode === 'normal'"
  ng-init="list = child.children"
  ng-class="{'no-child': list.length == 0}"
  class="children">
  <li
    ng-repeat="child in list"
    ng-include="'templates/knowledge/map-node.tpl.html'" 
    context-menu="knowledge.contextMenu"
    class="children-item"></li>
</ul>
