<!-- with popover if content -->
<div class="node" ng-if="child.content" ng-class="{'have-children': child.children, 'have-small': child.small}" uib-popover-template="'templates/knowledge/map-node-popover.tpl.html'" popover-placement="bottom">
  <div><span class="icon icon-text"></span>
    <input type="text" dnd-nodrag pu-elastic-input ng-model="child.name" ng-change="knowledge.change(child)" placeholder="Node Name" required>
  </div>
  <div>
    <input type="text" dnd-nodrag pu-elastic-input class="small" ng-model="child.small" ng-change="knowledge.change(child)" placeholder="Description">
  </div>
</div>
<!-- end with popover if content -->
<!-- without popover -->
<div class="node" ng-if="!child.content" ng-class="{'have-one-child': child.children && child.children.length == 1, 'have-more-than-one-children': child.children && child.children.length > 1, 'have-small': child.small}">
  <div>
    <input type="text" dnd-nodrag pu-elastic-input ng-model="child.name" ng-change="knowledge.change(child)" placeholder="Node Name" required>
  </div>
  <div>
    <input type="text" dnd-nodrag pu-elastic-input class="small" ng-model="child.small" ng-change="knowledge.change(child)" placeholder="Description">
  </div>
</div>
<!-- end without popover -->
<ul ng-if="child.children"
  dnd-list="child.children"
  ng-init="list = child.children"
  dnd-inserted="knowledge.drop(event, child, list, index)"
  ng-class="{'no-child': list.length == 0}"
  class="children">
  <li
    ng-repeat="child in list"
    dnd-draggable="child"
    dnd-effect-allowed="move"
    dnd-moved="list.splice($index, 1)"
    ng-include="'templates/knowledge/map-node.tpl.html'" 
    context-menu="knowledge.contextMenu"
    class="children-item"></li>
  <li class="children-item dndPlaceholder">
    <span class="icon-arrow-left"></span> Drop here
  </li>
</ul>