<div id="map-layout">
  <div id="layout-map" class="ui-layout-center">
    <!-- main section -->
    <!-- map -->
    <form name="mapForm" novalidate class="map-container">
      <div class="toolbar">
        <div class="btn-group" power-control="knowledge.map.edit" style="display: node;">
          <label class="btn btn-primary" ng-model="knowledge.mode" uib-btn-radio="'normal'">
            <span class="icon-eye"></span> Normal
          </label>
          <label class="btn btn-primary" ng-model="knowledge.mode" uib-btn-radio="'edit'">
            <span class="icon-edit"></span> Edit
          </label>
          <input type="submit" ng-if="knowledge.mode == 'edit'" ng-click="knowledge.save()" ng-disabled="mapForm.$invalid || knowledge.saving" value="Save" class="btn btn-default">
        </div>
        <a class="btn btn-default" ng-click="knowledge.load()">
            <span class="icon-reload"></span> Reload
          </a>
        <div class="pull-right">
          <a class="btn btn-default" href="https://github.com/ytxiuxiu/front-yutou.in/issues/new" target="_blank">
            <span class="icon-bug"></span> Report Bugs
          </a>
        </div>
      </div>
      <div class="map" ng-if="knowledge.map">
        <div class="node node-root" href="#">
          {{ knowledge.map.name }}
        </div>
        <ul class="children" ng-if="knowledge.mode === 'edit'"
          ng-init="child = knowledge.map; list = knowledge.map.children"
          dnd-list="list"
          dnd-inserted="knowledge.drop(event, child, list, index)">
          <li ng-repeat="child in list" 
            dnd-draggable="child"
            dnd-moved="list.splice($index, 1)"
            ng-include="'templates/knowledge/map-node.tpl.html'" 
            context-menu="knowledge.contextMenu"
            class="children-item"></li>
          <li class="children-item dndPlaceholder">
            <span class="icon-arrow-left"></span> Drop here
          </li>
        </ul>
        <ul class="children" ng-if="knowledge.mode === 'normal'"
          ng-init="child = knowledge.map; list = knowledge.map.children">
          <li ng-repeat="child in list" 
            ng-include="'templates/knowledge/map-node.tpl.html'" 
            context-menu="knowledge.contextMenu"
            class="children-item"></li>
        </ul>
      </div>
    </form>
    <!-- end map -->
    <!-- end main section -->
  </div>
  <div class="ui-layout-south" id="layout-editor" style="padding: 0px">
    <div class="content-title" ng-if="knowledge.currentEditing.name">
      <h1 class="pull-left">
        <span class="icon-text"></span>
        <span ng-bind="knowledge.currentEditing.name"></span>
      </h1>
      <span ng-if="knowledge.mode == 'edit'" class="pull-right">Styling with Markdown is supported</span>
    </div>
    <div ng-hide="knowledge.mode != 'edit'" class="editor-container">
      <textarea id="node-content-editor" ng-model="knowledge.content"></textarea>
    </div>
    <div class="content-container" ng-if="knowledge.mode == 'normal'">
      <div ng-bind-html="knowledge.currentEditing.content | marked"></div>
    </div>
  </div>
</div>










