<form name="mapForm" novalidate class="map-container">
  <div id="map-layout">
    <div id="layout-toolbar" class="ui-layout-north">
      <div class="toolbar">
        <div class="btn-group" power-control="knowledge.map.edit" style="display: node;">
          <label class="btn btn-primary" ng-model="knowledge.mode" uib-btn-radio="'normal'">
            <span class="icon-eye"></span>&nbsp;Normal
          </label>
          <label class="btn btn-primary" ng-model="knowledge.mode" uib-btn-radio="'edit'">
            <span class="icon-edit"></span>&nbsp;Edit
          </label>
          <input type="submit" ng-if="knowledge.mode == 'edit'" ng-click="knowledge.save()" ng-disabled="mapForm.$invalid || knowledge.saving" value="Save" class="btn btn-default">
        </div>
        <a class="btn btn-default" ng-click="knowledge.load()">
            <span class="icon-reload"></span>&nbsp;Reload
          </a>
        <div class="pull-right">
          <a class="btn btn-default" href="https://github.com/ytxiuxiu/front-yutou.in/issues/new" target="_blank">
            <span class="icon-bug"></span>&nbsp;Report Bugs
          </a>
        </div>
      </div>
    </div>
    <div id="layout-map" class="ui-layout-center">
      <!-- main section -->
      <!-- map -->
      
        
      <div class="map" ng-if="knowledge.map" ng-init="child = knowledge.map; list = knowledge.map.children">
        <ul class="map-root">
          <li>
            <div class="node" ng-click="knowledge.showContent(child)" ng-class="{'dirty': child.dirty, 'has-small': child.small, 'edit-mode': knowledge.mode == 'edit', editing: knowledge.mode == 'edit' && child.node.nodeId == knowledge.currentEditing.node.nodeId}">
              <div>
                <span ng-if="child.content && child.content !== ''" class="icon icon-text"></span>
                <input ng-if="knowledge.mode == 'edit'" type="text" dnd-nodrag pu-elastic-input class="name" ng-model="child.name" ng-change="knowledge.change(child)" placeholder="Node Name" required maxlength="30">
                <span ng-if="knowledge.mode == 'normal'">{{ child.name }}</span>
              </div>
              <div>
                <input ng-if="knowledge.mode == 'edit'" type="text" dnd-nodrag pu-elastic-input class="small" ng-model="child.small" ng-change="knowledge.change(child)" placeholder="Description" maxlength="60">
                <span ng-if="knowledge.mode == 'normal' && child.small" class="small">{{ child.small }}</span>
              </div>
            </div>
            <ul class="children" ng-if="knowledge.mode === 'edit'"
              dnd-list="list"
              dnd-inserted="knowledge.drop(event, child, list, index)">
              <li ng-repeat="child in list" 
                dnd-draggable="child"
                dnd-moved="list.splice($index, 1)"
                ng-include="'templates/knowledge/map-node.tpl.html'" 
                context-menu="knowledge.contextMenu"
                class="children-item"></li>
              <li class="children-item dndPlaceholder">
                <div class="node">
                  <span class="icon-arrow-left"></span> Drop here
                </div>
              </li>
            </ul>
            <ul class="children" ng-if="knowledge.mode === 'normal'"
              ng-init="child = knowledge.map; list = knowledge.map.children">
              <li ng-repeat="child in list" 
                ng-include="'templates/knowledge/map-node.tpl.html'" 
                context-menu="knowledge.contextMenu"
                class="children-item"></li>
            </ul>
          </li>
        </ul>
      </div>
      
      <!-- end map -->
      <!-- end main section -->
    </div>
    <div id="layout-editor" class="ui-layout-south" style="padding: 0px">
      <div class="content-title" ng-if="knowledge.currentEditing.node.nodeId">
        <h1 class="pull-left">
          <span class="icon-text"></span>
          <span ng-bind="knowledge.currentEditing.name"></span>
          <small ng-bind="knowledge.currentEditing.small"></small>
        </h1>
        <span ng-if="knowledge.mode == 'edit'" class="pull-right">Styling with Markdown is supported</span>
      </div>
      <div ng-hide="knowledge.mode != 'edit'" class="editor-container">
        <textarea id="node-content-editor" ng-model="knowledge.content"></textarea>
      </div>
      <div class="content-container" ng-if="knowledge.mode == 'normal'">
        <div ng-bind-html="knowledge.currentEditing.content | marked"></div>
      </div>
    </div>
  </div>
</form>










