// colour


// size
$section-gap: 30px;

$space-below-navbar: 17px;


body {
  overflow-x: hidden;
}


div.below-navbar {
  margin-top: (50px + $space-below-navbar);
}

div.rows > div {
  margin-bottom: $section-gap;
}

/**
 * navbar
 */
.navbar a {
  cursor: pointer;
}



/**
 * icons
 */

.btn.icon {
  color: #777;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  a {
    color: #777;
    text-decoration: none;
  }
  a:hover {
    color: #333;
  }
}
.btn.icon.disabled a:hover {
  color: #777;
}
.btn.icon img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 7px;
}
@media screen and (min-width: 992px) {
  .btn.icon img {
    max-width: 70px;
    max-height: 70px;
  }
}
.icon-large {
  font-size: 70px;
}
.icon-medium {
  font-size: 40px;
}

/**
 * homepage 
 */
body {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 14px;
}



div.homepage {
  margin-top: -$space-below-navbar;

  h1, h2, h3, h4, h5 {
    margin-top: 10px;
  }

  p.lead {
    font-size: 18px;
    font-weight: 400;
  }

  div.email {
    text-align: right;
    margin-top: 20px;

    span {
    position: relative;
      top: 5px;
    }
  }

  div.banner {
    color: white;
    h1 {
      margin: 0;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
      font-size: 5em;
    }
    h2 {
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
      font-size: 3em;
    }
    h3 {
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    }
  }

  div.banner-top {
    background: url(../images/banner.png) no-repeat center center;
    background-size: cover;
    padding: 100px 0;

    div.message {
      text-align: center;
      margin: 0;
      hr {
        width: 400px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    div.banner-top {
      background: url(../images/banner.png) no-repeat;
    }
  }

  div.container-below-banner {
    margin-top: 30px;
  }

  div.banner-bottom {
    padding: 50px;
    background: url(../images/bottom.png) no-repeat center center;
    background-size: cover;

    ul.social-buttons {
      padding-top: 10px;
    }
  }

  footer {
    margin-top: 40px;
  }

}

.toolbar-item {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}

/* typer */
.typer__cursor--blink {
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



