span.babel-show-ch {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.1);
}
span.babel-show-ch:hover, span.babel-show-ch.active {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.8);
}
.notice {
  text-align: center;

  p {
    margin: 0;
  }
}