.ui-layout-pane {
	border: none;
}

#layout-toolbar {
	.toolbar {
		margin-top: 47px;
	}
	padding-bottom: 0;
	background: #efefef;
}

.resizer-toolbar-hide {
	background: #efefef;
}


/* map node */

.map:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}
.map {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	white-space: nowrap;
  padding-top: 30px;
  padding-bottom: 60px;

	ul.map-root {
		list-style: none;
		padding: 0;
	}

	.node {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 5px 0;
		background: #fff;
		text-align: left;
		cursor: pointer;
		transition: all .2s;
		direction: ltr;

    @media screen and (max-width: 425px) {
      .node-box {
        max-width: none;
      }
    }

    @media screen and (min-width: 426px) {
      .node-box {
        max-width: 130px;
      }
    }

    .node-box {
      height: 25px;
      border: 1px solid #ccc;
      padding: 2px 4px;
      border-radius: 4px;

  		div {
  			overflow: hidden;
  			input {
  				border: none;
  				padding: 0;
  				max-width: 130px !important;
          border-radius: 4px;
  			}

        $place-holder-color: #ffffff;
        input.ng-invalid::-webkit-input-placeholder {
          color: $place-holder-color;
        }
        input.ng-invalid:-moz-placeholder { /* Firefox 18- */
          color: $place-holder-color;  
        }
        input.ng-invalid::-moz-placeholder {  /* Firefox 19+ */
          color: $place-holder-color;  
        }
        input.ng-invalid:-ms-input-placeholder {  
          color: $place-holder-color;  
        }
  			input.ng-invalid {
  				background: rgba(255, 0, 0, 0.43);
  			}
  		}
    }

    .show-after {
      margin-left: -2px;
      border-left: 0;
      border-radius: 0 4px 4px 0;
      padding: 3px 0 0 3px;
    }
    .show-after.has-small {
      padding-top: 12px;
    }
    .show-after:hover {
      box-shadow: none;
      background-color: #efefef;
    }

    .spliter-hide {
      display: none;
    }
	}
	.node-box.has-small, .node-box.edit-mode {
		height: 45px;
		input.small {
			border: none;
			padding: 0;
			max-width: 147px !important;
		}
	}
	.node-box:hover {
  	box-shadow: 0 0 3px 0 #aaaaaa;
  	width: initial;
  	max-width: initial;
  	~ul .node {
  		box-shadow: 0 0 3px 0 #dddddd;
  	}
	}
	.node-box.editing {
		box-shadow: 0 0 6px 0 #de2222;
		width: initial;
  	max-width: initial;
	}
	.node-box.dirty {
		background: #fbfde6;
		input {
			background: #fbfde6;
		}
	}

	ul.children:before {
		content: '';
		position: absolute;
		top: 50%;
		left: -4px;
		width: 10px;
		border-top: 1px solid #ccc;
	}
	ul.children.no-child:before {
		border-top: none;
	}

	ul.children.no-child {
		min-height: 25px;
		min-width: 100px;
	}
	.node.has-small~ul.children.no-child {
		min-height: 45px;
		min-width: 100px;
	}

	ul.children {
		position: relative;
		list-style: none;
		margin: 0;
		text-align: left;
		padding: 0 0 0 6px;
		display: inline-block;
		vertical-align: middle;

		li {
			position: relative;
			padding: 0 0 0 10px;
			border-left: 1px solid #ccc;
		}
		li:first-child, li:last-child {
			border-left: 1px solid transparent;
		}
		li:before {
			content: '';
			width: 10px;
			border-top: 1px solid #ccc;
			position: absolute;
			top: 50%;
			left: 0;
		}
    li.spliter-hide:before {
      border-top: none;
    }
		li:first-child:before {
			left: -1px;
			bottom: 0;
			border-radius: 4px 0 0 0;
			border-left: 1px solid #ccc;
		}
		li:last-child:before {
			left: -1px;
			top: 0;
			bottom: 50%;
			border-radius: 0 0 0 4px;
			border: 0;
			border-left: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
		li:first-child:last-child:before {
			top: 50%;
			bottom: auto;
			border: 0;
			border-radius: 0;
			border-top: 1px solid #ccc;
		}
	}
	
}

.construction {
  background-image: url(../images/construction.png) !important;
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: 12px;
}

.priority-high {
  background-color: rgba(255, 209, 241, 0.31) !important;
}
.priority-medium {
  background-color: rgba(241, 255, 241, 0.31) !important;
}
.priority-low {
  background-color: rgba(241, 209, 255, 0.31) !important;
}


/* editor */
.editor-container {

  .editor-toolbar:before {
    margin-bottom: 2px;
  }
  .editor-toolbar {
  	background: #ffffff;
  	opacity: 0.95;
  }
  .editor-toolbar:after {
    margin-top: 2px;
  }

  .CodeMirror {
    min-height: 50px;
  }
  .CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: rgba(255,0,0,.05);
  }

  .editor-toolbar.fullscreen {
    top: 136px;
  }
  .CodeMirror-fullscreen {
    top: 177px;
  }
  .editor-preview-side {
    top: 177px;
  }
}

.layout-editor {
	.content-title {
		height: 40px;
		padding: 10px 10px 5px 10px;
	}

	.content-container {
		padding: 0 10px 10px 10px;
	}
}

/* content */
.content {
  $table-border-color: #dfdfdf;

  table {
    border: 1px solid $table-border-color;
    margin: 5px;

    tr {
      border: 1px solid $table-border-color;
      th, td {
        border: 1px solid $table-border-color;
        padding: 1px 3px;
      }
    }
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0 0 5px 0 !important;
  }
  hr {
    margin: 7px 0 5px 0;
  }
  h1, .cm-header-1, .h1 {
    font-size: 20px !important;
  }
  h2, .cm-header-2, .h2 {
    font-size: 18px !important;
  }
  h3, .cm-header-3, .h3 {
    font-size: 16px !important;
  }
  h4, h5, .cm-header-4, .cm-header-5, .h4, .h5 {
    font-size: 14px !important;
  }

  ul {
    padding-left: 20px;
  }
  ol {
    padding-left: 20px;
  }
}

/* book */
.contents {
  ul {
    list-style: none;
    padding-left: 12px;

    li {

    }
  }
}

.section {
  .section-title {
    background: #f5f5f5;
    margin: 10px 0 15px 5px;
    padding: 5px;

    h1, .h1 {
      font-size: 22px;
    }

    .toggle-hidden {
      padding: 6px;
      color: #aaaaaa;
      cursor: pointer;
    }

    .toggle-hidden:hover {
      color: #000000;
    }
  }
  .section-content {
    padding-left: 10px;
  }

  ul.section {
    list-style: none;
    padding-left: 5px;
  }
}



