.map-container {
  overflow-x: auto;
  padding-bottom: 70px; }

.map {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  /* Input */
  /* Draggable */
  /* Popover */ }
  .map .node {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 2px 6px;
    margin: 4px 0;
    background: #fff;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    transition: all .2s;
    direction: ltr;
    font-size: 14px;
    max-width: 150px; }
    .map .node input.small {
      max-width: 138px !important; }
  .map ul.children.new-node:before {
    border: 0; }
  .map .node:hover {
    box-shadow: 0 0 3px 0 #3498DB;
    max-width: 300px; }
    .map .node:hover ~ ul .node {
      box-shadow: 0 0 3px 0 #a8d3f0; }
    .map .node:hover input.small {
      max-width: 300px !important; }
  .map .node:active {
    box-shadow: 0 0 1px 0 #3498DB;
    max-width: 300px; }
  .map .node .small {
    font-weight: lighter;
    color: #777;
    overflow: hidden; }
  .map .node-root {
    border: 0;
    background: #3498DB;
    color: #fff;
    font-size: 18px;
    padding: 5px 15px;
    position: relative;
    top: 3px; }
  .map ul.children {
    position: relative;
    list-style: none;
    margin: 0;
    text-align: left;
    padding: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle; }
  .map ul.children:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -2px;
    width: 12px;
    border-top: 1px solid #ccc; }
  .map li.children-item {
    position: relative;
    padding: 0 0 0 12px;
    border-left: 1px solid #ccc; }
  .map .have-one-child.have-small {
    position: relative;
    top: 3px; }
    .map .have-one-child.have-small ~ ul {
      top: -11px; }
  .map .have-more-than-one-children.have-small {
    position: relative;
    top: 15px; }
  .map .have-small ~ .no-child {
    top: -15px; }
  .map ul.children.no-child:before {
    border: 0; }
  .map .children-item:first-child, .map .children-item:last-child {
    border-left: 1px solid transparent; }
  .map .children-item:before {
    content: '';
    width: 12px;
    border-top: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 0; }
  .map .children-item:first-child:before {
    left: -1px;
    width: 13px;
    bottom: 0;
    border-radius: 4px 0 0 0;
    border-left: 1px solid #ccc; }
  .map .children-item:last-child:before {
    left: -1px;
    width: 13px;
    top: 0;
    bottom: 50%;
    border-radius: 0 0 0 4px;
    border: 0;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
  .map .children-item:first-child:last-child:before {
    top: 50%;
    bottom: auto;
    border: 0;
    border-radius: 0;
    border-top: 1px solid #ccc; }
  .map li input {
    padding: 0;
    margin: 0;
    border: 0; }
  .map ul[dnd-list], .map ul[dnd-list] > li {
    position: relative; }
  .map ul[dnd-list] .dndDraggingSource {
    display: none; }
  .map ul[dnd-list].no-child {
    width: 100px;
    height: 26px; }
  .map .dndPlaceholder {
    padding-top: 3px;
    padding-left: 15px; }
  .map .popover {
    left: 0 !important;
    width: 400px;
    height: 400px;
    max-width: none;
    margin: 0 20px 10px 0; }
    .map .popover .arrow {
      left: 30px !important; }
    .map .popover .popover-content {
      height: 395px;
      overflow-y: auto; }
      .map .popover .popover-content h1, .map .popover .popover-content h2, .map .popover .popover-content h3, .map .popover .popover-content h4, .map .popover .popover-content h5, .map .popover .popover-content h6 {
        margin: 0 0 5px 0; }
      .map .popover .popover-content hr {
        margin: 7px 0 5px 0; }
      .map .popover .popover-content h1 {
        font-size: 20px; }
      .map .popover .popover-content h2 {
        font-size: 18px; }
      .map .popover .popover-content h3 {
        font-size: 16px; }
      .map .popover .popover-content h4, .map .popover .popover-content h5 {
        font-size: 14px; }
      .map .popover .popover-content ul {
        padding-left: 20px; }

/* Trash */
.trash .dndPlaceholder {
  display: none; }

.trash.dndDragover li.btn {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

/*# sourceMappingURL=map.css.map */
