<div class="container" ng-init="navbar.current = 'about'; changeTitle('About')">
  <div class="jumbotron">
    <h1>Welcome to Join Our Group</h1>
    <p>Practice more, Learn more</p>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <p>If your are</p>
      <ul>
        <li>a student who is currently study at Monash University</li>
        <li>good at FIT9131, FIT9132 or FIT9134 (not necessary)</li>
        <li><b>interested in programming (necessary!)</b></li>
        <li>willing to spend your free time in programming</li>
        <li>willing to communicate in English</li>
      </ul>
      <p>Please feel free to join us!</p>
      <p>You will learn how to</p>
      <ul>
        <li>program in Java</li>
        <li>use mordern Frameworks, such as Spring, SpringMVC and MyBatis</li>
        <li>design database structure</li>
        <li>retrieve data using SQL</li>
        <li>design web pages using HTML, CSS, Javascript as well as Bootstrap, jQuery and AngularJS, etc.</li>
        <li>use Version Control System, such as Git</li>
        <li>develop Websites</li>
        <li>manage Web Servers and App Servers with Linux</li>
        <li>use Task Runner, such as Grunt</li>
        <li>use IDE, such as Eclipse</li>
        <li>work in a group</li>
      </ul>
      <p>
        If you are interested in this, please send a email to <img src="images/email.png"/>.
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Our projects</h3>
    </div>
    <div class="panel-body">
      <ol>
        <li>
          <a href="http://yutou.in/knowledge" target="_blank">Online Knowledge Mindmap</a>
        </li>
        <li>
          <a href="http://yutou.in/dict" target="_blank">Online dictionary</a>
        </li>
        <li>
          <a href="https://github.com/ytxiuxiu/currency-alarm" target="_blank">Currency Alaram (Mobile APP)</a>
        </li>
        <li>
          <a href="https://github.com/ytxiuxiu/grunt-cloudinary-upload" target="_blank">Cloudinary Upload (Grunt plugin)</a>
        </li>
        <li>
          <a href="http://xuejieshuo.cn" target="_blank">Xuejieshuo Part-time jobs seeking platform</a>
          <p>Currently belongs to Shenyang Coaction Technology Pty Ltd.</p>
        </li>
      </ol>
    </div>
  </div>

  <div ng-include="'templates/home/footer.tpl.html'"></div>
</div>