<div class="container" ng-init="navbar.current = 'about'; changeTitle('About')">
  <style>
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 5px 0 !important; }
hr {
  margin: 7px 0 5px 0; }
h1 {
  font-size: 20px !important; }
h2{
  font-size: 18px !important; }
h3 {
  font-size: 16px !important; }
h4 {
  font-size: 15px !important; }
</style>

<div><h1 id="yingchen-liu">YINGCHEN LIU</h1>
<hr>
<p>11/919 Dandenong Road<br>Malvern East, VIC 3145</p>
<p>[Phone] +61 420 630 709<br>[Email] yliu638@student.monash.edu</p>
<p>[Website]  <a href="http://yutou.in">http://yutou.in</a><br>[Github] <a href="https://github.com/ytxiuxiu">https://github.com/ytxiuxiu</a></p>
<h1 id="summary">SUMMARY</h1>
<hr>
<ul>
<li>I am a geek who is keen on everything about programming  and enjoys experimenting to find intersections in technology and daily life.</li>
</ul>
<h1 id="experiences">EXPERIENCES</h1>
<hr>
<ul>
<li><p><strong>Research Assistant</strong> at sensiLab Monash University [2016.9 - Now]<br>  Web Full-Stack Development<br>  Android &amp; iOS Development</p>
</li>
<li><p><strong>Geek, Open Source Developer</strong> at home [Child - Now]<br>  I currently am a contributor to some open source projects.</p>
</li>
</ul>
<h1 id="projects">PROJECTS</h1>
<hr>
<ul>
<li><p><strong>sensiLab website optimisation</strong> [2016]<br>  I am currently working on it. I am optimising both front-end and back-end of this website.</p>
</li>
<li><p><strong>sensiLab Inventory</strong> [2016]<br>  A system to help organise, catalogue and trace a vast collection of gadgets, gizmos, electronics components in the sensiLab Monash University.<br>  I was responsible for the whole system.<br>  <strong>&gt;</strong> Node.js, ExpressJS, MongoDB, LDAP</p>
</li>
<li><p><strong>Stress Pendant</strong> [2016]<br>  A live social experiment using wearable technology to build an interactive stress map of Melbourne.<br>  I was responsible for the and web-end and authentication system on each kind of device.<br>  <strong>&gt;</strong> Firebase, Android, iOS</p>
</li>
<li><p><strong>SYLU Student Employment Management System</strong> [2014 - 2015]<br>  A web-based system that can be used to track students' employment status and to generate statistic statements. It also provides a platform that allows enterprises to search information about students.<br>  <strong>&gt;</strong> SpringMVC, MyBatic, Oracle, EasyUI</p>
</li>
<li><p><strong>My Personal Website</strong><br>  <a href="http://yutou.in">http://yutou.in</a><br>  <strong>&gt;</strong> SpringMVC, MyBatis, AngularJS, MySQL</p>
</li>
<li><p><strong>Some other projects...</strong></p>
</li>
</ul>
<h1 id="skills">SKILLS</h1>
<hr>
<h2 id="communication">Communication</h2>
<h2 id="problem-solving">Problem Solving</h2>
<h2 id="programming-languages">Programming Languages</h2>
<ul>
<li><strong>Proficient</strong>: Java, Javascript</li>
<li>C, C#, Swift</li>
<li>HTML5, CSS, XML, Markdown</li>
</ul>
<h2 id="web-full-stack-development">Web Full-Stack Development</h2>
<h3 id="back-end">Back-End</h3>
<ul>
<li><strong>JavaEE Framework</strong>: EJB, Spring, SpringMVC, Hibernate, MyBatis</li>
<li><strong>PHP Framework</strong>: ThinkPHP</li>
<li><strong>Node.js Framework</strong>: ExpressJS</li>
<li><strong>ASP.NET</strong></li>
<li><strong>Database</strong>: MySQL, Oracle, MongoDB, Firebase</li>
<li><strong>Middleware</strong>: RabbitMQ</li>
</ul>
<h3 id="front-end">Front-End</h3>
<ul>
<li><strong>Front-End Optimisation</strong></li>
<li><strong>Javascript Framework</strong>: jQuery, AngularJS</li>
<li><strong>UI Framework</strong>: Bootstrap, EasyUI and etc.</li>
<li><strong>Tool</strong>: Grunt, Gulp</li>
</ul>
<h2 id="mobile-development">Mobile Development</h2>
<ul>
<li>Android</li>
<li>iOS</li>
</ul>
<h1 id="education">EDUCATION</h1>
<hr>
<ul>
<li><strong>Monash University</strong> Melbourne, VIC, Australia [2016 - Now]<br>  Master of Information Technology<br>  <strong>Academic Record</strong> (GPA: 4.0)<ul>
<li>Programming Foundations - 97 (HD)</li>
<li>Introduction to Database - 94(HD)</li>
<li>Computer Architecture and Operating System - 84(HD)</li>
<li>Data Communication - 87(HD)</li>
</ul>
</li>
</ul>
<ul>
<li><p><strong>Itcast Institucation</strong> Beijing, China [2013]<br>  6-Month JavaEE Career Training Course</p>
</li>
<li><p><strong>Shenyang Ligong University</strong> Shenyang, Liaoning, China [2011 - 2015]<br>  Bachelor of Electronic Science and Technology</p>
</li>
</ul>
</div>

  <div ng-include="'templates/home/footer.tpl.html'"></div>
</div>