<div class="container" ng-init="navbar.current = 'about'; changeTitle('About')">
  <style>
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 5px 0 !important; }
hr {
  margin: 7px 0 5px 0; }
h1 {
  font-size: 20px !important; }
h2{
  font-size: 18px !important; }
h3 {
  font-size: 16px !important; }
h4 {
  font-size: 15px !important; }
</style>

<div>
<div style="font-size: 30px; font-weight: 800" id="yingchen-liu">YINGCHEN LIU</div>
<hr>
<p>11/919 Dandenong Road<br>Malvern East, VIC 3145</p>
<div class="row">
  <div class="col-md-6">
    <p>[Phone] +61 0420 630 709<br>[Email] ytxiuxiu@gmail.com / yliu638@student.monash.edu</p>
  </div>
  <div class="col-md-6">
    <p>[Website]  <a href="http://yutou.in">http://yutou.in</a><br>[Github] <a href="https://github.com/ytxiuxiu">https://github.com/ytxiuxiu</a></p>
  </div>
</div>

<h1 id="summary">&gt; SUMMARY</h1>
<hr>
<p>I am a geek who is keen on everything about programming  and enjoys experimenting to find intersections in technology and daily life. I started coding since I was a child and I have learnt a lot of skills about designing software and hardware.</p>
<p>I enjoy contributing to open source projects, reading, cooking, listening to music and wandering through cities and countrysides.</p>
<h1 id="experience">&gt; EXPERIENCE</h1>
<hr>
<ul>
<li><p><strong>Geek, Open Source Developer</strong> [Child - Now]<br>  I currently am a contributor to the open source project grunt-cloudinary-upload and also a bunch of other small projects.</p>
</li>
<li><p><strong>Technical Lead</strong> [September, 2013 - July, 2015]<br>  <strong>Shenyang Coaction Technology Pty Ltd.</strong> Shenyang, Liaoning, China<br>  I and one of my good friends established this company when we were in college.</p>
<ul>
<li>Collaborated with product and development team members to define and develop new product concepts.</li>
<li>Managed a development team of 6 developers.</li>
<li>Helped define coding standard for the development team.</li>
<li>Helped improve development tools and processes.</li>
<li>Designed web architecture and database structure.</li>
<li>Trained team members.</li>
</ul>
</li>
</ul>
<h1 id="projects">&gt; PROJECTS</h1>
<hr>
<h2 id="enterprise-projects">Enterprise Projects</h2>
<ul>
<li><p><strong>Student Employment Management System</strong> [2014 - 2015]<br>  This system is currently being used in Shenyang Ligong University.<br>  A web-based system that can be used to track students' employment status and to generate statistic statements. And also provides a platform that allows enterprises to search infomation about students.<br>  <strong>&gt;</strong> SpringMVC, MyBatis, POI, Oracle, jQuery, EasyUI, Bootstrap, Maven, SVN</p>
</li>
<li><p><strong>Coaction Issue Tracking System</strong> [2014]<br>  This system is currently being used in Shenyang Coaction Technology Pty Ltd.<br>  <strong>&gt;</strong> ThinkPHP, MySQL, Smarty, SVN</p>
</li>
<li><p><strong>Xuejieshuo Part-Time Jobs Seeking Platform</strong> [2013 - 2015]<br>  <a href="http://www.xuejieshuo.cn">http://www.xuejieshuo.cn</a><br>  <strong>&gt;</strong> ThinkPHP, MySQL, Smarty, Bootstrap, Baidu FIS, SVN</p>
</li>
</ul>
<h2 id="personal-projects">Personal Projects</h2>
<div class="row">
  <div class="col-md-6">
    <h3>Software</h3>
    <ul>
    <li><p><strong>My Personal Website</strong><br>  Sharing knowledge.<br>  <a href="http://yutou.in">http://yutou.in</a><br>  <strong>&gt;</strong> SpringMVC, MaBatis, MySQL, AngularJS, Maven, Git</p>
    </li>
    <li><p><strong>grunt-cloudinary-upload</strong> (Grunt Plugin)<br>  A tool that can automatically upload assets of your website to your CDN, and also updates the references of these assets.<br>  <a href="https://www.npmjs.com/package/grunt-cloudinary-upload">https://www.npmjs.com/package/grunt-cloudinary-upload</a><br>  <strong>&gt;</strong> Javascript, Grunt, Git</p>
    </li>
    <li><p><strong>Currency Alarm</strong> (Android App)<br>  Monitoring exchange rates on the mobile phone.<br>  <strong>&gt;</strong> Android, Git</p>
    </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Hardware</h3>
    <ul>
    <li><p><strong>Smart Home</strong> (Internet of Things)<br>  Controlling lights, monitoring temperature, humidity on web pages.<br>  <strong>&gt;</strong> Spark Framework, FreeMarker, Bootstrap, Raspberry PI</p>
    </li>
    <li><p><strong>Freescale Intelligent Car</strong> (Intelligent Hardware)<br>  I designed both software and hardware of it.<br>  A intelligent toy car that can track routes by using camera.<br>  <strong>&gt;</strong> Freescale, C, PCB, Pattern recognition</p>
    </li>
    <li><p><strong>Some other small projects...</strong></p>
    </li>
    </ul>
  </div>
</div>


<h1 id="skills">&gt; SKILLS</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <h2 id="programming-languages">Programming Languages</h2>
    <ul>
    <li>Java, PHP, C</li>
    <li>Javascript</li>
    </ul>
    <h2 id="markup-template-languages">Markup/Template Languages</h2>
    <ul>
    <li>HTML, CSS</li>
    <li>JSP, Smarty, FreeMarker</li>
    <li>Markdown</li>
    </ul>
    <h2 id="web">Web</h2>
    <ul>
    <li><strong>Web Server</strong>: Nginx, Apache, Tomcat</li>
    <li><strong>Network</strong>: HTTP, TCP/IP</li>
    </ul>
    <h3 id="back-end">Back-End</h3>
    <ul>
    <li><strong>JavaEE Framework</strong>: Spring, SpringMVC, MyBatis</li>
    <li><strong>PHP Framework</strong>: ThinkPHP</li>
    <li><strong>Database</strong>: MySQL, Oracle, MongoDB</li>
    <li><strong>Middleware</strong>: RabbitMQ</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="front-end">Front-End</h3>
    <ul>
    <li><strong>Front End Optimisation</strong></li>
    <li><strong>Javascript Framework</strong>: jQuery, AngularJS</li>
    <li><strong>UI Framework</strong>: Bootstrap, EasyUI</li>
    <li><strong>Tool</strong>: Grunt, Developing Grunt Plugins</li>
    </ul>
    <h2 id="software">Software</h2>
    <ul>
    <li><strong>Operating System</strong>: Linux, OS X, Windows</li>
    <li><strong>Dependency Management</strong>: Maven, Npm, Bower</li>
    <li><strong>Version Control</strong>: Subversion, Git</li>
    <li><strong>IDE</strong>: Sublime Text, Eclipse, Vim, IntelliJ, PhpStorm, Android Studio, Keil</li>
    <li><strong>EDA</strong>: Altium Designer</li>
    </ul>
    <h2 id="hardware">Hardware</h2>
    <ul>
    <li>MCS-51</li>
    <li>Freescale</li>
    <li>Raspberry Pi</li>
    </ul>
  </div>
</div>
<h1 id="education">&gt; EDUCATION</h1>
<hr>
<ul>
<li><p><strong>Shenyang Ligong University</strong> Shenyang, Liaoning, China [2011 - 2015]<br>  Bachelor of Electronic Science and Technology</p>
</li>
<li><p><strong>Itcast Institution</strong> Beijing, China [2013]<br>  6 Months JavaEE Career Training Course</p>
</li>
<li><p><strong>Monash University</strong> Melbourne, VIC, Australia [2016 - Now]<br>  Master of Information Technology</p>
</li>
</ul>
</div>
</div>

  <div ng-include="'templates/home/footer.tpl.html'"></div>
</div>