<div class="homepage">
  <!-- top banner -->
  <div class="banner banner-top">
    <div class="container">
      <div class="rows">
        <!-- banner message -->
        <div class="message col-lg-12">
          <h1>Yutou.in</h1>
          <h3>A <span id="banner-typing"></span> Website of Johnny.</h3>
          <hr>
          <!-- social list -->
          <div ng-include="'templates/home/social-list.tpl.html'"></div>
        </div>
        <!-- end banner message -->
      </div>
    </div>
  </div>
  <!-- end top banner -->

  <!-- main section -->
  <div class="container container-below-banner">
    <div class="rows">
      <div class="col-lg-3">
        <img src="images/me.png" class="img-responsive img-circle" alt="My Photo">
      </div>
      <div class="col-lg-6 col-lg-offset-3">
        <h2>About Me</h2>
        <h3>Johnny Liu <small>(Yingchen Liu)</small></h3>
        <p class="lead">
          A geek who is keen on programming. Currently studying Master Degree of Information Technology at Monash University (Melbourne, AU).
        </p>
        <div class="email">
          <span>E-mail:</span><img src="images/email.png" alt="My Email">
        </div>
      </div>
    </div>
  </div>
  <!-- end main section -->

  <!-- bottom banner -->
  <div class="banner banner-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Would like to know more:</h2>
        </div>
        <div class="col-lg-6 text-right">
          <div ng-include="templates/home/social-list.tpl.html"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end bottom banner -->

  <!-- footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li>
              <a href="#">Home</a>
            </li>
            <li class="footer-menu-divider">⋅</li>
            <li>
              <a href="#about">About</a>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright © Yutou.in 2016. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer -->
</div>