<div class="homepage">
  <!-- top banner -->
  <div class="banner banner-top hidden-xs">
    <div class="container">
      <div class="rows">
        <!-- banner message -->
        <div class="message col-lg-12">
          <h1>Yutou.in</h1>
          <h3>A 
            <typer words="['Personal', 'Powerful']" type-time="150" backspace-time="80" start-delay="3000" pause="3000"></typer>
            Website of Johnny.
          </h3>
          <hr>
          <!-- social links -->
          <div social-links></div>
        </div>
        <!-- end banner message -->
      </div>
    </div>
  </div>
  <!-- end top banner -->

  <!-- main section -->
  <div class="container container-below-banner">
    <div class="rows">
      <div class="col-sm-3 col-xs-6 text-center">
        <div class="btn btn-link icon">
          <a ui-sref="knowledge">
            <div><span class="icon-large icon-brain"></span></div>
            <h3>Knowledge</h3>
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 text-center">
        <div class="btn btn-link icon disabled" disabled="disabled">
          <a>
            <div><span class="icon-large icon-dictionary"></span></div>
            <h3>Dictionary</h3>
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 text-center">
        <div class="btn btn-link icon">
          <a ui-sref="links">
            <div><span class="icon-large icon-link"></span></div>
            <h3>Links</h3>
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 text-center">
        <div class="btn btn-link icon disabled" disabled="disabled">
          <a>
            <div><span class="icon-large icon-currency"></span></div>
            <h3>Currency</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="rows">
      <div class="col-xs-3">
        <img src="images/me.png" class="img-responsive img-circle me" alt="My Photo">
      </div>
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-1 col-xs-9">
        <a name="about"></a>
        <h2>About Me</h2>
        <h3>Johnny Liu <small>(Yingchen Liu)</small></h3>
        <p class="lead">
          A geek who is keen on programming. Currently studying Master Degree of Information Technology at Monash University (Melbourne, AU).
        </p>
        <div class="email">
          <span>E-mail:</span><img src="images/email.png" alt="My Email">
        </div>
      </div>
    </div>
  </div>
  <!-- end main section -->

  <!-- bottom banner -->
  <div class="banner banner-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Would like to know more:</h2>
        </div>
        <div class="col-lg-6 text-right">
          <div social-links></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end bottom banner -->

  <!-- footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <ul class="list-inline">
            <li>
              <a href="#">Home</a>
            </li>
            <li class="footer-menu-divider">⋅</li>
            <li>
              <a href="#about">About</a>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright © Yutou.in 2016. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer -->
</div>